.panier_container {
  width: 33vw;
  min-width: 300px;
  justify-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  height: 100%;
  transition: all .5s ease-in-out;

  & .toggle_button {
    background: none;
    color: var(--primary-color);
    outline: none;
    width: 100%;
  }

  @media (max-width: 1200px) {
    width: 100vw;
    height: 10px;
  }

  &.open {
    @media (max-width: 1200px) {
      height: 400px;
    }
  }
}