#root {
  margin: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 1rem;

  @media (max-width: 1200px) {
    flex-direction: column;
    align-items: center;
  }
}

.app_header {
  width: 100vw;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}